<div class="row">
	
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 hide-for-small">

				<ul class="example-orbit" data-orbit>
				  <li>
				    <%= image_tag("sample1.jpg")%>
				    <div class="orbit-caption">
				      Caption One.
				    </div>
				  </li>
				  <li class="active">
				    <%= image_tag("sample2.jpg")%>
				    <div class="orbit-caption">
				      Caption Two.
				    </div>
				  </li>
				</ul>
    </div>
  </div>

</div>

<div class="row">
  <div class="large-4 columns">
		<%= image_tag("group1.jpg", size: "400x300")%>
    <h4>This is a content section.</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
  
  <div class="large-4 columns">
    <%= image_tag("group2.jpg", size: "400x300")%>
    <h4>This is a content section.</h4>
    <p>mercury changes asfafasfas bla bla bla. ROYAL FLARE</p>
  </div>
  
  <div class="large-4 columns">
    <%= image_tag("logo.jpg", size: "400x300")%>
    <h4>This is a content section.</h4>
    <p>THIS SECTION HAS BEEN OVERRUN BY KANOSAKI, ALLYOURBASEAREBELONGTOUS. PATCHY 5C CIRNO 5C MEILING 5C EVERYONE GETS THEIR OWN SHARE OF 5C, 5C BANZAI</p>
  </div>

  </div>
  

<div class="row">
  <div class="large-12 columns">
  
    <div class="panel">
      <h4>Get in touch!</h4>
          
      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you, you attractive person you.</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
  
